body {
    background: linear-gradient(to bottom, orange, violet);
    margin: 0;
    padding: 0;
    min-height: 100vh; 
}

#foodList {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.meal-item {
    flex: 0 1 calc(25% - 10px);
    margin-bottom: 20px;
    box-sizing: border-box;
}
.meal-image {
    max-width: 100%;
}
.meal-image:hover{
    transform: scale(1.02);
    border-radius: 12px;
    opacity: 60%;
    size: 40px;
    cursor: pointer;
    
}

h1 {
    text-align: center;
    padding: 20px;
}

form {
    display: flex;
    align-items: center; 
    margin-left: 60px; 
}

#searchInput {
    flex: 1; 
    max-width: 500px;
}

#searchButton {
    margin-left: 10px;
}
p{
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 768px) {
    #foodList {
        margin: 10px;
    }

    .meal-item {
        flex: 0 1 calc(50% - 10px);
    }

    h1 {
        padding: 10px;
    }

    form {
        margin: 10px 0;
        padding: 10px;
        text-align: center;
    }
}
#random-meal{
    margin-left: 20px;
}